<html>
  <body>
    Dear [% name %],
    <p>
      Files and database backup operations has been successfully done. Based on your configs, you might find the backup tarballs attached. You can find the latest tarballs at:
      <br />
      [% local_path %]
      <br />
      [% remote_path %]
    </p>
    <p>
      <em>Rossckup Automated Backup</em>
      <a href="http://github.com/sepehr/rusckup">
        http://github.com/sepehr/rusckup
      </a>
    </p>
  </body>
</html>

